@import url(../styles/fonts.css);

:root {
    /* Colours */
    --color-text: black;
    --color-secondary: #f4ffd3;
    --color-background: #c98600;

    /* Font sizing */
    --text-small: 12pt;
    --text-medium: 16pt;
    --text-large: 18pt;

    /* Borders */
    --radius: 4px;
    --thickness: 2px;

    /* Layout */
    --page-width: 800px;
}

html {
  background-color: var(--color-background);
  font-family: 'Fira Code', monospace;
}

body {
  margin: 0 auto;
  width: var(--page-width);
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

* {
  box-sizing: border-box;
}

a {
    color: var(--color-secondary);
    &:hover {
        text-decoration: underline;
    }
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-text);
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--color-text);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-text);
  color: var(--color-secondary);
  text-decoration: underline;
}

.expanded {
  display: unset;
}

ul:has(.tag) {
  padding-left: 0px;
}
.tag {
  list-style: none;
  padding: .5rem 1rem;
  border: var(--thickness) solid var(--color-text);
  width: fit-content;
  margin-right: .5rem;
  display: inline;
  color: var(--color-text);
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }
}