@import url(../styles/fonts.css);

:root {
    /* Colours */
    --color-text: black;
    --color-secondary: #f4ffd3;
    --color-background: #c98600;

    /* Font sizing */
    --text-small: 12pt;
    --text-medium: 16pt;
    --text-large: 18pt;

    /* Borders */
    --radius: 4px;
    --thickness: 2px;

    /* Layout */
    --page-width: 800px;
}

.page-width {
    width: var(--page-width);
}

.text-small {
    font-size: var(--text-small);
}
.text-medium {
    font-size: var(--text-medium);
}
.text-large {
    font-size: var(--text-large);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

html {
  background-color: var(--color-background);
  font-family: 'Fira Code', monospace;
}

body {
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  font-weight: 300;
  font-size: var(--text-medium);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: var(--color-secondary);
    &:hover {
        text-decoration: underline;
    }
}

#logo {
    color: var(--color-text);
    text-decoration: none;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-text);
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--color-text);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: .5rem 0px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: var(--radius);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: color-mix(in srgb, var(--color-background), var(--color-text) 20%);
  text-decoration: underline;
}

.expanded {
  display: unset;
}

ul:has(.tag) {
  padding-left: 0px;
}
.tag {
  list-style: none;
  padding: .5rem 1rem;
  border: var(--thickness) solid var(--color-text);
  width: fit-content;
  margin-right: .5rem;
  display: inline;
  color: var(--color-text);
}

.button {
    padding: .5rem;
    border: none;
    background-color: var(--color-text);
    border-radius: var(--radius);
    color: var(--color-secondary);
    font-family: var(--font-sans-serif);
    font-size: var(--text-medium);
    cursor: pointer;
}
.button:hover {
    background-color: color-mix(in srgb, var(--color-text), var(--color-background) 20%);
}

::selection {
    background-color: var(--color-text);
    color: var(--color-secondary);
}

@media screen and (min-width: 636px) {
    body {
        width: var(--page-width);
    }
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        background-color: var(--color-text);
        color: var(--color-secondary);
    }
    .nav-links a:hover,
    .nav-links a:focus {
        background-color: color-mix(in srgb, var(--color-text), var(--color-background) 20%);
        text-decoration: underline;
    }

    .hamburger {
        display: none;
    }
}