---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageWithText from "../components/ImageWithText.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <ImageWithText
    image_url="/images/Erin_headshot.png"
    image_alt="This is a placeholder image with placeholder alt text!"
    heading="Erin Corbett"
    subheading="she/her"
    text=
    `
      Erin is a musician, sound designer, gamedev and 3D animator based in Toronto, Canada. 
      For over a decade, she has worked in across disciplines such as games, music, animation, audiobooks, and more.
    `
  />

  <p>
    After graduating from Metalworks Institute's Audio Production & Engineering
    program in 2012, she relocated to Toronto to begin her career as a freelance
    musician, audio engineer, sound designer, and visual artist. Since then, she
    has taken on creative roles in stage plays, indie video games, studio and
    live recordings, and audiobooks.
  </p>

  <p>
    In 2016 Erin was the lead sound designer on the 2016 Toronto Best-of-Fringe
    show Like A Generation, and has also worked as a songwriter and producer
    with indie artists Leucrocuta, Ensh, R Flex, Brooklyn Doran, and Bears and
    Children.
  </p>

  <p>
    In addition to her audio career, Erin has developed a unique approach to
    interactive visual art. Through the use of 3D graphics software Blender,
    Unreal, and Unity, she creates abstract digital landscapes and interactive
    experiences to accompany her musical output. Erin's visual portfolio
    includes album art for record label Glue Gun Records, Biblioteka, visuals
    for Wolfgang Gray (featured at A/V showcase Ponyhaus), and music videos for
    artists Martian Crisis Unit, Pink Snail, Faiyaz And The Wasted Chances, and
    many others.
  </p>

  <p>
    Erin has also released a number of independent video games, including
    Terrorbone (2017) and Simpborne (2020), and is currently working on the
    survival horror game Helpless, Helpless, Helpless which has received grants
    from the Ontario Arts Council and Canada Council for the Arts.
  </p>
</BaseLayout>
