---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const publicPosts = allPosts.filter((post: any) => {
  const isPublic = post.frontmatter.draft == false;
  return isPublic;
});

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    {publicPosts.length != 0 && publicPosts.length}
    {
      () => {
        if (publicPosts.length == 1) {
          return "post:";
        } else if (publicPosts.length == 0) {
          return "No posts yet";
        } else {
          return "posts:";
        }
      }
    }
  </p>
  <ul class="blog-list">
    {
      publicPosts.map((post: any) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
