---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>ERIN. CORBETT. MUSIC.</p>
  <p>She's a reeeeeeeal nice mother!</p>
</BaseLayout>
