---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>ERIN. CORBETT. MUSIC.</h2>
  <p>She's a reeeeeeeal nice mother!</p>
</BaseLayout>
