---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

const title = "Erin Corbett";
---

<header>
  <h1>{title}</h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
