---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

const title = "Erin Corbett";
---

<header>
  <div class="header-top">
    <a href="/" id="logo">
      <h1>
        <img src="/favicon.ico" alt="Erin Corbett" />
        {title}
      </h1>
    </a>
    <div class="hamburger-icons">
      <Hamburger />
    </div>
  </div>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header h1 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    img {
      margin-right: 1rem;
    }
  }
  @media screen and (max-width: 749px) {
    header h1 {
      margin-bottom: 0;
    }
  }
</style>
