---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

const title = "Erin Corbett";
---

<header>
  <h1>
    <a href="/" id="logo"><img src="/favicon.svg" alt="Erin Corbett" /></a>
    <a href="/" id="logo">{title}</a>
  </h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header h1 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & a > img {
      margin-right: 1rem;
    }
  }
</style>
