---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="favicon" href="/favicon.svg" />
    <title>Erin Corbett - {pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <h2>{pageTitle}</h2>
      <slot />
      <!-- slot represents child content, which gets "slotted" in -->
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
