---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noai, noimageai">
    <link rel="favicon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Erin Corbett">
    <meta property="og:locale" content="en">
    <meta property="og:description" content="Composer, sound designer, game developer">
    <meta property="og:image" content="/Erin_headshot.png">
    <meta name="keywords" content="music, game developer, erin corbett">
    <meta name="theme-color" content="#181818">
    <meta name="author" content="Erin Corbett">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Erin Corbett - {pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      {
        () => {
          if (pageTitle != 'Home') { // If this isn't the homepage,
            return <h2>{pageTitle}</h2>; // Render the page title in an h2
          }
        }
      }
      <slot />
      <!-- slot represents child content, which gets "slotted" in -->
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
